<html>
<head></head>
<body>
<form action="/login" method="post">
  <input type="text" name="username"/>
  <input type="password" name="password"/>
  <input class="submit" type="submit"/>
</form>
</body>
</html>