<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/w3.css"/>
    <link rel="stylesheet" href="../stylesheets/materialize.min.css">
    <link rel="stylesheet" href="../stylesheets/lolliclock.css">
    <link rel="stylesheet" type="text/css" href="../dist/semantic.min.css">
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../dist/semantic.min.js"></script>
    <style>
        .ht {
            height: 200px;
            z-index: -1;
        }

        .martop {
            margin-top: -10%;
        }

        .color-corrector {
            background-color: #ffffff;
        }

        .marleft {
            margin-left: 1.8%;
        }

        .marbottom {
            margin-top: 19%;
        }

        .marright {
            margin-right: 50%;
        }

        .mleft {
            margin-left: 199%;
        }

        .mtop {
            margin-top: 2.5%;
        }

        .btleft {
            margin-left: 111%;
        }

        .bttop {
            margin-top: -13%;
        }

        .bttleft {
            margin-left: 180%;
        }

        .btttop {
            margin-top: 6%
        }

    </style>
    <style type="text/css"></style>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/lolliclock.js"></script>
</head>

<body>
<nav class="index-banner ht">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="brand-logo left hide-on-med-and-down">
            <li class="marleft marbottom">Notice Upload</li>
        </ul>
        <div class="row">
            <div class="col s6">
                Welcome <%- username %>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light bttleft btttop" type="button" onclick="createNoticeBoard()">
                    Create Notice Board
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container z-depth-5 color-corrector">
    <div class="col s12 m2">
        <div class="row martop">
            <div class="col s12 m12">
                <div>
                    <form class="col s12" action="/noticesupload" method="post" enctype="multipart/form-data"
                          id="formData" nonvalidate>
                        <div class="row">
                            <!--<div class="input-field col s12">
                            <select class = "select" name="board" id="board">

                            </select>
                            <label>Select Notice Board</label>
                                </div>-->

                            <div class="input-field col s12">
                                <select class="select" id="board" name="board_name">
                                    <option value="" disabled selected>Choose notice board</option>
                                </select>
                            </div>

                            <div class="input-field col s12">
                                <select class="select" name="type" id="type">
                                    <option value="" disabled selected>Choose notice type</option>
                                    <option value="image" id="image">Image</option>
                                    <option value="video" id="video">Video</option>
                                    <option value="text" id="text">Text</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        <input type="date" class=" datepicker" placeholder="start date"
                                               aria-expanded="false" name="startdate" id="sdate">
                                    </div>
                                    <div class="input-field col s6">
                                        <input type="date" class="offset-s2 datepicker" placeholder="end date"
                                               aria-expanded="false" name="enddate" id="edate">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="col s6"><input id="pick-a-start-time" placeholder="start time"
                                                               name="stime"/></div>

                                    <div class="col s6"><input id="pick-a-end-time" placeholder="end time"
                                                               name="etime"/></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field ">
                                        <div class="col s12">
                                            <textarea id="textarea1" class="materialize-textarea"
                                                      name="description"></textarea>
                                            <label for="textarea1">Description</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="col s12">
                                        <select class="select" name="priority" id="priority">
                                            <option value="1" id="1">1</option>
                                            <option value="2" id="2">2</option>
                                            <option value="3" id="3">3</option>
                                        </select>
                                        <label class="active marleft">Select Priority</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="filetype">
                                <div class="col s10 offset-s2">
                                    <div class="file-field input-field col s10">

                                        <input class="file-path validate" type="text"/>

                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" name="fil"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="notice">
                                <div class="row col s12">
                                    <div class="col s12">
                                        <div class="input-field ">
                                            <textarea id="textarea4" class="materialize-textarea"
                                                      name="notice_content"></textarea>
                                            <label for="textarea4">Notice</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col ">
                                <button class="btn waves-effect waves-light mleft" type="submit" id="submitButton"
                                        name="submitButton" value="Submit">Upload
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <button class="btn waves-effect waves-light btleft bttop" type="button"
                                        onclick="logout()">Logout
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    console.log("sagey")

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });

    $('select[name="type"]').change(function () {

        if ($(this).val() == "image" || $(this).val() == "video") {
            $('#filetype').show();
            $('#notice').hide();
        }
        else {
            $('#filetype').hide();
            $('#notice').show();
        }
    });
    $('#pick-a-start-time').lolliclock({autoclose: true});
    $('#pick-a-end-time').lolliclock({autoclose: true});


    $.get('/board_details/', function (data) {

        for (var j = 0; j < data.boardInfo.length; j++) {
            $('#board').append('<option value="' + data.boardInfo[j] + '">' + data.boardInfo[j] + '</option>');
        }
        $('select').material_select();
    });


    function logout() {
        window.localStorage.removeItem("token");
        window.location = "/"
    }

    function createNoticeBoard() {
        token = window.localStorage.getItem("token");
        window.location = "/createBoard?token=" + token;
    }

    $("#formData").submit(function (event) {
        console.log("Submit called")
        event.preventDefault();
        var $form = $(this),
                url = $form.attr('action');
        token = window.localStorage.getItem("token");
        url = url + "?token=" + token;
        formdata = new FormData(this);
        var posting = $.ajax({
            url: url,
            type: "POST",
            data: formdata,
            success: function (info) {
                console.log("info", info);
                Materialize.toast(info.msg, 2000);
            },
            contentType: false,
            processData: false
        });

    });
</script>

</body>
</html>